
<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <img src=<%= info.image%> class="w-100" alt="image of the dish">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
        <h3 class="mt-0"><%= info.title%></h3>
        <%= info.summary%><!--how to print this out with correct format?-->
    </div>
</div>

<div class = "hstack gap-3">
    <div class = "vstack gap-3">
        <h3>Ingredients</h3>
        <ol class="list-group list-group-numbered">
            <% for(ingredient of ingredients){%>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold"><%= ingredient.name%></div>
                    <%= ingredient.original%>
                    </div>
                    <img href = <%= ingredient.image%>
                </li>
            <% } %>
    </div>
</div>

